*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aqua;
    text-align: center;
}
h1{
    margin: 4vmin;
}
.container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4vmin;
}

.box{
    height: 17vmin;
    width: 17vmin;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.3);
    font-size: 11vmin;
    padding-bottom: 0.5vmin;
    color: rgb(255, 62, 178);
    text-shadow: 5px 5px 15px 5px black;
    background-color: rgb(46, 46, 255);
    cursor: pointer;
}
.box:hover{
    background-color: rgb(7, 7, 226);
}
#reset{
    padding: 2vmin;
    background-color: rgb(126, 0, 126);
    font-size: 3vmin;
    font-weight: bold;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
}
#reset:hover{
    background-color: rgb(182, 5, 182);
}

#new{
    padding: 2vmin;
    background-color: rgb(126, 0, 126);
    font-size: 3vmin;
    font-weight: bold;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
}
#new:hover{
    background-color: rgb(182, 5, 182);
}
.msg{
    font-size: 6vmin;
    color: blueviolet;
}
.msg-container{
    height: 100vh;
    gap: 6vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hide{
    display: none;
}

/*line*/
.linedefine {
    position: absolute;
    background-color: rgb(255, 0, 0);
    height: 5px;
    border-radius: 5px;
    transform-origin: left; 
  }
  .hr{
    box-shadow: 5px 5px 15px 5px rgb(2, 107, 255);
    animation: draw-line 1.5s ease;
  }
  .D{
    box-shadow: 5px 5px 15px 5px rgb(57, 2, 255);
    animation: diagonal-line 1.5s ease;
  }
  .disable{
    display: none;
  }
@keyframes draw-line {
    0% {
      width: 0;
    }
    100% {
      width: 52vh; 
    }
  }
  @keyframes diagonal-line {
    0% {
      width: 0;
    }
    100% {
      width: 72vh; 
    }
  }
  .color{
    color: red;
    box-shadow: 5px 5px 15px 5px rgb(57, 2, 255);

  }
