*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}
h1{
    position: absolute;
    top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
    color: blue;
}
h1:hover{
    text-shadow: 1px 1px blue;
    cursor: pointer;
}
button{
    background-color: rgb(255, 38, 38);
    width: 60px;
    height: 60px;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    font-size: 1.6rem;
    box-shadow: 0.6px 0.6px 1px 0.6px red;

}
button:hover{
    background-color: red;
    box-shadow: 3px 3px 8px 3px rgb(255, 0, 0);
}
main{
    background-color: black;
    border-radius: 10px;
}
.row:first-child{
    padding-top: 12vh;
}
.row{
    margin-left: 10px;
    margin-right: 10px;
}
div:first-child{
    background-color: aquamarine;
    margin: 1.6vh;
    border-radius: 10px;
    position: relative;
}
div:last-child{
    margin-bottom: 1vh;
}
input{
    background-color: aquamarine;
    border: none;
    height: 90px;
    width: 290px;
    position: absolute;
    bottom: 0px;
    border-radius: 10px;
    font-size: 1.6rem;
    display: flex;
    justify-items: end;
    padding-top: 40px;
    box-sizing: border-box;   
}
